/* Aplicar la fuente Cheri a los Labels específicos */
#lblEmail, #lblPassword, #lblError, #emailLabel, #usernameLabel, #streetLabel, #passwordLabel, #repeatPasswdLabel, #cityLabel, #zipLabel, #userNameLbl, #emailLbl, #streetLbl, #cityLbl, #zipLbl {
    -fx-font-family: 'Comic Sans MS';   /* Cambiar la fuente a Cheri */
    -fx-font-size: 18px;        /* Tamaño de fuente (ajústalo según prefieras) */
    -fx-text-fill: white;       /* Color del texto */
}

/* Estilos para los campos de texto */
.text-field {
    -fx-background-color: transparent; /* Hacer el fondo transparente */
    -fx-border-color: transparent transparent grey transparent; /* Eliminar el borde */
    -fx-padding: 0; /* Eliminar el padding */
    -fx-font-size: 14px; /* Cambiar el tamaño de la fuente si es necesario */
    -fx-text-fill: #34dede;  
    -fx-font-weight: bold;
    -fx-border-width: 0 0 1px 0;
}

.text-field:focused {
    -fx-background-color: transparent; /* Mantener el fondo transparente cuando está enfocado */
    -fx-border-color: transparent transparent darkgrey transparent; /* Mantener el borde transparente cuando está enfocado */
}

/* Estilos para las líneas */
.line {
    -fx-stroke: black; /* Color de la línea */
    -fx-stroke-width: 2; /* Grosor de la línea */
}

.menu-bar {
    -fx-background-color: linear-gradient(to right, #c76f9f, #5c2a6b);
    -fx-font-size: 16px;
    -fx-font-family: 'Comic Sans MS';
}

.menu-bar .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.menu {
    -fx-text-fill: white;
}

.context-menu, .menu-item {
    -fx-font-size: 14px;
    -fx-font-family: 'Comic Sans MS';
}

.menu-item:focused {
    -fx-background-color: #34dede;
    -fx-text-fill: black;
}

.table-container {
    -fx-background-color: linear-gradient(to right, #c76f9f, #5c2a6b);
    -fx-padding: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.2, 0, 4);
}

.table-view {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-alignment: center-left;
    -fx-padding: 10px 5px;
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 0 0 1px 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 1, 0.1, 0, 1);
}


.table-view .table-cell {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-text-fill: #ffffff;
    -fx-padding: 12px 15px;
    -fx-alignment: center-left;
}

.table-view .table-cell:hover {
    -fx-background-color: rgba(255, 255, 255, 0.15);
}

.table-view .table-cell .image-view {
    -fx-fit-width: 50px;
    -fx-fit-height: 50px;
    -fx-background-radius: 5px;
}

#FilterMenuButton, #addTicketButton {
-fx-background-color: #34dede;
-fx-text-fill: black;
-fx-background-radius: 20px;
-fx-border-radius: 20px;
}

#FilterMenuButton\:hover, #addTicketButton\:hover {
-fx-background-color: #1cb5b5;
}

.minimal-button {
-fx-background-color: #34dede;
-fx-border-color: black;
-fx-font-weight: bold;
-fx-font-family: 'Comic Sans MS';
-fx-text-fill: black;
-fx-font-size: 14px;
}

/* Estilo minimalista para el botón de inicio de sesión */
.minimal-button, #btnSignIn {
    -fx-background-color: #34dede; /* Fondo transparente */
    -fx-border-color: black; /* Borde negro minimalista */
    -fx-font-weight: bold;
    -fx-font-family: 'Comic Sans MS';
    -fx-border-width: 1px; /* Grosor del borde */
    -fx-text-fill: black; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-padding: 5 10; /* Ajuste del padding */
    -fx-cursor: hand; /* Cambiar el cursor a mano al pasar el ratón */
    -fx-background-radius: 5; /* Borde redondeado suave */
    -fx-border-radius: 5; /* Bordes redondeados */
    -fx-transition: background-color 0.3s ease, border-color 0.3s ease; /* Transición suave para hover */
}

.minimal-button:hover {
    -fx-background-color: lightgray; /* Color de fondo al pasar el ratón */
    -fx-border-color: gray; /* Borde más claro al pasar el ratón */
}

.minimal-button:pressed {
    -fx-background-color: darkgray; /* Fondo más oscuro al presionar */
    -fx-border-color: black; /* Borde negro al presionar */
}

/* Estilo para el botón de mostrar/ocultar contraseña */
.btnShowPasswd {
    -fx-background-color: transparent;  /* Fondo transparente */
    -fx-border-color: transparent;      /* Borde transparente */
    -fx-padding: 0;                     /* Sin padding */
    -fx-background-radius: 0;           /* Elimina bordes redondeados */
    -fx-border-radius: 0;               /* Elimina bordes redondeados */
    -fx-cursor: hand;                   /* Cursor de mano */
}

/* Estilo para el botón de mostrar/ocultar contraseña */
.btnShowPasswd2 {
    -fx-background-color: transparent;  /* Fondo transparente */
    -fx-border-color: transparent;      /* Borde transparente */
    -fx-padding: 0;                     /* Sin padding */
    -fx-background-radius: 0;           /* Elimina bordes redondeados */
    -fx-border-radius: 0;               /* Elimina bordes redondeados */
    -fx-cursor: hand;                   /* Cursor de mano */
}

.split-pane *.split-pane-divider {
    -fx-padding: 0; /* Sin margen para que no ocupe espacio */
    -fx-background-color: transparent; /* Color transparente */
}

#signInpane  {
    -fx-background-image: url("/resources/LogIn.png");
    -fx-background-size: 140% auto; /* Ajustar ancho al 70% del contenedor y altura proporcional */
    -fx-background-position: center; /* Centrar la imagen en el contenedor */
    -fx-background-repeat: no-repeat; /* No repetir la imagen */
}

#splitPane  {
    -fx-background-image: url("/resources/SignUp.png");
    -fx-background-size: 140% auto; /* Ajustar ancho al 70% del contenedor y altura proporcional */
    -fx-background-position: center; /* Centrar la imagen en el contenedor */
    -fx-background-repeat: no-repeat; /* No repetir la imagen */
}

#infoViewpanel {
    -fx-background-image: url("/resources/Info.png");
    -fx-background-size: 140% auto; /* Ajustar ancho al 70% del contenedor y altura proporcional */
    -fx-background-position: center; /* Centrar la imagen en el contenedor */
    -fx-background-repeat: no-repeat; /* No repetir la imagen */
}

#moviePane {
    -fx-background-image: url("/resources/Adobe Express - file.png");
    -fx-background-position: center; /* Centrar la imagen en el contenedor */
    -fx-background-repeat: no-repeat; /* No repetir la imagen */
}

/* Aplicar la fuente Cheri y estilos a Labels específicos en infoView */
#infoViewpanel #lblEmail, #infoViewpanel #lblPassword, #infoViewpanel #lblError,
#infoViewpanel #emailLabel, #infoViewpanel #usernameLabel, #infoViewpanel #streetLabel,
#infoViewpanel #passwordLabel, #infoViewpanel #repeatPasswdLabel, #infoViewpanel #cityLabel,
#infoViewpanel #zipLabel, #infoViewpanel #userNameLbl, #infoViewpanel #emailLbl,
#infoViewpanel #streetLbl, #infoViewpanel #cityLbl, #infoViewpanel #zipLbl {
    -fx-font-family: 'Comic Sans MS';
    -fx-font-size: 22px;       /* Aumentar el tamaño solo en info view */
    -fx-text-fill: black;
    -fx-alignment: center;
}

/* Estilos para los TextField en infoView */
#infoViewpanel .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent grey transparent;
    -fx-padding: 5; /* Aumentar padding para agrandar */
    -fx-font-size: 18px; /* Aumentar tamaño de la fuente solo en info view */
    -fx-text-fill: #34dede;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 1px 0;
    -fx-alignment: center;
}

/* Estilos para el botón minimalista solo en infoView */
#infoViewpanel .minimal-button {
    -fx-font-size: 18px; /* Tamaño de la fuente aumentado */
    -fx-padding: 10 20; /* Ajuste del padding para agrandar el botón */
}

#infoViewpanel #usernameLabel {
    -fx-min-width: 150px; /* Ajusta el valor según sea necesario */
}


#btnInterrogation {
    -fx-background-color: #34dede;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
    -fx-transition: background-color 0.3s ease;
}

#btnInterrogation:hover {
    -fx-background-color: #D8BFD8; 
    -fx-text-fill: white;
}

#btnInterrogation:pressed {
    -fx-background-color: #BA55D3; 
}